/* 전체적용 */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}

.sidebar-contents_container {
  display: flex;
  flex-direction: row;
  height: 87.3%;
}

[aria-label]:after {
  content: attr(aria-label);
  display: none;
  /* top: 340px; */
  position: absolute;
  background-color: hsla(64, 73%, 39%, 0.725);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}

[aria-label]:hover:after, [aria-label]:focus:after {
  display: block;
  padding: 1px;
  }
